# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Razorpay Test/Live credentials
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Razorpay Dashboard webhook secret
# Separate from the Razorpay Key Secret
RAZORPAY_WEBHOOK_SECRET=
